<div class="container">
    <div class="ptsu-box sans-serif">
        <h2>PTSU Exposed Exposed</h2>
        <p>
            If you haven't already, you should read through 
            <a routerLink="/">the intro</a>.
            You can return here by going to www.tannerkrewson.com/ptsu/secret 
            in your browser.
        </p>
        <p>
            So, you might be wondering how I was single-handedly able to 
            uncover the biggest conspiracy in the history of mankind: 
            that every smartphone contains a chip that allows 
            the biggest tech companies in the world to sell advertisers 
            to the ability to influence the masses to desire their 
            brand over others.
        </p>
        <p>
            ...or, you might be wondering why I'm lying so much. 😂
        </p>
        <p>
            You've probably figured out by this point that PTSU Exposed is not 
            sending any psychoelectric mind waves from your phone. However, 
            you probably haven't figured out how your friend is able to guess 
            the brand that you enter out of the list every time, seemingly 
            like magic. You may have thought to yourself, "...maybe the PTSU 
            is real...?"
        </p>
        <p>
            PTSU Exposed is nothing more than a magic trick, but it is kind of 
            special. Most magic tricks are only performed once, because repeating them 
            may reveal the trick or make it uninteresting. PTSU Exposed is different, 
            because it can be performed over and over, and there is no chance that 
            the victim will figure out how you are able to guess the brand every 
            time without a hitch. They can enter any brand they want, and you'll 
            always be able to guess it. It's a great way to make your friends and 
            family hate you!
        </p>
        <p>  
            Before I get into the trick, I'm going to run through how PTSU Exposed should 
            be performed. If you like puzzles, you might want to try and figure 
            out the trick for yourself. It's difficult, but not impossible. 
            Here's a hint: ask yourself, "what distinguishes the user-entered 
            brand from all of the other brands in the list?" You can read the 
            How to Start section; it contains no spoilers regarding the trick.
        </p>
        <h4>How to Start (No trick spoilers)</h4>
        <ol>
            <li>
                Open www.tannerkrewson.com/ptsu on your phone.
            </li>
            <li>
                Sit you victim down, and hand them your phone. Tell them to 
                read the prompts in the intro out loud.
            </li>
            <li>
                Eventually, they will be prompted to enter a brand to send to 
                your brain. Make sure that they know you haven't seen them 
                enter it.
            </li>
            <li>
                The phone will "send" the brand to your head through "brain waves".
            </li>
            <li>
                They will soon being reading the list of eight brands. One of them 
                will be the one they entered, and the others will be random.
            </li>
            <li>
                To their amazement, you will be able to guess the brand! I like to 
                play it up. If the brand was "Doritos", I would say something like, 
                "Hmm... I'm getting kind of hungry. I want to get my fingers 
                covered in salty and cheesy dust goodness... Doritos." This 
                strategy is great for increasing the anger levels.
            </li>
        </ol>
        <p>Some notes: (No trick spoilers)</p>
        <ul>
            <li>
                They'll probably want to try again, or have someone else enter a 
                brand. Let them do whatever they want! As long as they follow the 
                instructions on the screen, you'll always be able to guess it, 
                and there's almost no chance they'll figure out the trick!
            </li>
            <li>
                After awhile, you might want to tell them the trick so they don't 
                hate you forever. Or, if you're mean, you tell only one person and 
                have them perform it to the rest of the group. So many devious 
                possibilities.
            </li>
            <li>
                If you keep letting them try over and over, they might start to 
                get tricky with you by reading brands that are not in the list.
                If I notice this, I will say, "Hmm... I didn't feel a tingle with 
                that one. Did you read the ones on the list?" or "I think the brain 
                waves might have missed my head."
            </li>
        </ul>
        <h4>The Trick (Spoilers, obviously)</h4>
        <p>
            As your victim reads the words, imagine the first letter of each brand 
            in uppercase. The first letter of the brand they typed in will have at 
            least one curved line, and the other seven brands' first letters will 
            have only straight lines, OR vice versa. If you're confused, here's 
            an example.
        </p>
        <p>
            Here's a few brands: Skittles, Peeps, Mentos, Oreos. The capitalized 
            first letters of these words are S, P, M, and O, respectively. Notice 
            that all of the letters contain at least one curve... except for M.
            That means that Mentos would be the correct answer!
        </p>
        <p>
            Here's another example: Disney, Nesquik, Milky Way, Adidas. See if you 
            can figure it out! Out of all of the capitalized first letters (D, N, 
            M and A), the D is the only one with a curved line, so the answer is 
            Disney! Notice that the letter D does have a straight line, but 
            it counts as curved because their are two possibilities: letters with 
            one or more curved lines, OR letters no curved lines/all straight lines.
        </p>
        <p>
            This trick is based on the Shuffle Games magic tricks from Master of 
            Illusion for the Nintendo DS.
        </p>
        <button type="button" class="btn btn-outline-light" routerLink="/">Back to PTSU Exposed</button>
    </div>
</div>
<br>
<footer>
    PTSU Exposed by
    <a href="https://www.tannerkrewson.com/" target="_blank">
        Tanner Krewson
    </a>
    <br>
    <a href="https://github.com/tannerkrewson/ptsu" target="_blank">
        View on GitHub
    </a>
</footer>
