<p>
    Now, read all of these {{phraseType}}s out loud in any order. The owner of
    this device should feel an urge when you read the one you entered earlier.
    You can read them in any order. The psychoelectric waves sent by the
    PTSU are sensitive, so to ensure effective results, make sure to only
    read the {{phraseType}}s from this list.
</p>
<div class="text-center">
    <div class="phrase-list">
        <app-phrase-item
            *ngFor="let phrase of phraseList"
            [phrase]="phrase"
            class="phrase-item"
        ></app-phrase-item>
    </div>
</div>
<br>

<div class="text-center">
    <button type="button" class="btn btn-outline-light" (click)="restart()">Try another {{phraseType}}</button>
</div>
