<div [ngSwitch]="step">
    <div *ngSwitchCase="0">
        <p>
          Your data has been sent to the PTSU, and is ready to be transmitted to the
          brain of the owner of this device. Make sure that there is no way for the
          subject to know what you have entered before you send.
        </p>
        <div class="center">
            <h3>{{phrase}}</h3>
            <button type="button" class="btn btn-light" (click)="sendPhrase()">Send</button>
        </div>
    </div>
    <div *ngSwitchCase="1">
        <div class="center">
            <h3>Sending...</h3>
            <app-send-animation></app-send-animation>
            <h2>{{phrase}}</h2>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <div class="center">
            <h2 class="mb-3">Done!</h2>
            <button type="button" class="btn btn-light" (click)="onContinue()">Continue</button>
        </div>
    </div>
</div>
